/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap");

/* Utilities */
body {
  font-family: "Poppins", sans-serif;
  margin: 16px;
}
.font-yeseva-one {
  font-family: "Yeseva One", cursive;
}
.text-black-333 {
  color: #333333;
}
.text-orange-333 {
  color: #ffad5a;
}
.fs-40 {
  font-size: 40px;
}
h1 {
  font-weight: normal;
}
.link-button {
  color: white;
  text-decoration: none;
  background-color: #ff5959;
  border-radius: 5px;
  padding: 12px;
}
/* Flexible container & Half width */
.flexible-container {
  display: flex;
}
.half-width {
  width: 50%;
}
.person-img {
  width: 60%;
  padding-left: 25%;
}
/* Stay Focused section  styling */
/* The line/border beside the heading */
.line-border {
  position: absolute;
  width: 4px;
  height: 115px;
  left: 8px;
  top: 51px;
  background: #ff5959;
  border-radius: 5px;
}
/* Mobile Layout */
@media (min-width: 320px) and (max-width: 767px) {
  .flexible-container {
    flex-direction: column;
  }
  .half-width {
    width: 100%;
  }
}
