/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap");

/* Utilities */
body {
  font-family: "Poppins", sans-serif;
  margin: 16px;
}
.font-yeseva-one {
  font-family: "Yeseva One", cursive;
}
.text-black-333 {
  color: #333333;
}
.text-orange-333 {
  color: #ffad5a;
}
.text-deep-blue {
  color: #13103a;
}
.text-center {
  text-align: center;
}
.fw-regular {
  font-weight: normal !important;
}
.fs-40 {
  font-size: 40px;
}
.link-button {
  color: white;
  text-decoration: none;
  background-color: #ff5959;
  border-radius: 5px;
  padding: 12px;
}
/* Flexible container & Half width */
.flexible-container {
  display: flex;
}
.half-width {
  width: 50%;
}
.person-img {
  width: 60%;
  padding-left: 25%;
}
/* Stay Focused section  styling */
/* The line/border beside the heading */
.line-border {
  position: absolute;
  width: 4px;
  height: 115px;
  left: 8px;
  top: 51px;
  background: #ff5959;
  border-radius: 5px;
}
/* My Mission in 2022 */
.my-mission {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.my-mission img {
  width: 141px;
}
.mission-card {
  border-radius: 26px;
  padding: 10px;
}
#mission {
  background-color: rgba(79, 157, 166, 0.1);
}
#vision {
  background-color: rgba(255, 89, 89, 0.1);
}
#goals {
  background-color: #fff4d6;
}
/* Mobile Layout */
@media (min-width: 320px) and (max-width: 767px) {
  .flexible-container {
    flex-direction: column;
  }
  .half-width {
    width: 100%;
  }
  .my-mission {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
  }
}
/* Tablet layout */
@media (min-width: 768px) and (max-width: 1023px) {
  .my-mission {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
  }
}
